


html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}


.calculator {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
}


#displey {
  width: 100%;
  font-size: 2rem;
  padding: 10px;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}


.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  font-size: 1.5rem;
  padding: 15px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e0e0e0;
}


.operator {
  color: #333;
}

.operator:hover {
  background-color: #ccc;
}


.number {
  color: #333;
}

.number:hover {
  background-color: #e0e0e0;
}




